body {
    color: #333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
}
input, select {
    font: normal normal 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-default {
    color: #1ab394
}
#top-search {
    min-width: 370px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    top:8px;
    bottom:auto
}
